name: Test Build

permissions:
  contents: write  # Allow writing to repository contents
  actions: write   # Allows triggering actions

on:
  workflow_call:
    inputs: {}

jobs:
  build-test-kernels:
    name: "Test Build ${{ matrix.kernel_version }}.${{ matrix.sub_level }}-${{ matrix.android_version }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - android_version: "android14"
            kernel_version: "6.1"
            sub_level: "134"
            os_patch_level: "2025-05"
    
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      android_version: ${{ matrix.android_version }}
      kernel_version: ${{ matrix.kernel_version }}
      sub_level: ${{ matrix.sub_level }}
      os_patch_level: ${{ matrix.os_patch_level }}
